@using Microsoft.AspNetCore.Http
@{

    var vUser = Context.Session.GetString("_User");<!--Capturar la sesión en la variable vUser-->

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto3IF4101Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <script type="text/javascript" src="~/js/jquery-3.2.1.js"></script>
    <script>
        function Registrar() {
            //var parametros = { ID_VACUNA: $('#vacuna option:selected').val(), CEDULA: $('#cedula option:selected').val(), DECRIPCION: $("#desc").val(), FECHA_APLI: $("#apli").val(), FECHA_PROX: $("#prox").val() };
            var parametros = {
                ID_VACUNA: $('#vacuna option:selected').val(),
                CEDULA: $('#cedula option:selected').val(),
                DECRIPCION: $("#desc").val(),
                FECHA_APLI: $("#apli").val(),
                FECHA_PROX: $("#prox").val()
            };

            $.ajax({
                data: parametros,
                url: '/Vacunas/RegistrarAjax',
                type: 'POST',
                success: function (response) {
                    $("#resultado").html(response);
                }
            });
        }

        function Obtener() {

            var parametros = { ID_VACUNA: $('#vacuna option:selected').val() };

            $.ajax({
                data: parametros,
                url: '/Vacunas/ObtenerDescripcion',
                type: 'POST',
                success: function (response) {
                    $("#desc").val(response);
                }
            });
        }

    </script>
    <style>
        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 100; /* Behind the navbar */
            padding: 48px 0 0; /* Height of navbar */
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }

        @@media (max-width: 767.98px) {
            .sidebar {
                top: 2rem;
            }

            .navbar-nav {
                width: 100%;
            }
        }

        .sidebar-sticky {
            position: relative;
            top: 0;
            height: calc(100vh - 48px);
            padding-top: .5rem;
            overflow-x: hidden;
            overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        }

        .navbar-brand {
            padding-top: .75rem;
            padding-bottom: .75rem;
            font-size: 1rem;
        }

        .navbar .navbar-toggler {
            top: .25rem;
            right: 1rem;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Proyecto3IF4101Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Citas" asp-action="Cita">Gestión de Citas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Vacunas" asp-action="Vacuna">Gestión de Vacunas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Alergias" asp-action="Alergia">Gestión de Alergias</a>
                        </li>

                    </ul>
                    <div class="dropdown navbar-nav px-3">
                        <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-toggle="dropdown" aria-expanded="false">
                            <strong>USUARIO: @vUser</strong>
                        </a>
                        <ul class="dropdown-menu bg-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li>
                                @using (Html.BeginForm("LogOff", "Login", FormMethod.Post, new { id = "logoutForm", @class = "form-css" }))
                                {
                                    <a class="dropdown-item text-white" href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesión</a>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="padding-top:6%">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*<main style="padding-top:8%">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>*@

    <footer class="footer fixed-bottom bg-dark">
        <div class="container-fluid text-white">
            &copy; 2021 - Proyecto3IF4101Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
