@using Microsoft.AspNetCore.Http
@{

    var vUser = Context.Session.GetString("_User");<!--Capturar la sesión en la variable vUser-->

}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto3IF4101Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <script type="text/javascript" src="~/js/jquery-3.2.1.js"></script>
    <script>
        function RegistrarVacuna() {
            //var parametros = { ID_VACUNA: $('#vacuna option:selected').val(), CEDULA: $('#cedula option:selected').val(), DECRIPCION: $("#desc").val(), FECHA_APLI: $("#apli").val(), FECHA_PROX: $("#prox").val() };
            var parametros = {
                ID_VACUNA: $('#vacuna option:selected').val(),
                CEDULA: $('#cedula option:selected').val(),
                DESCRIPCION: $("#desc").val(),
                FECHA_APLI: $("#apli").val(),
                FECHA_PROX: $("#prox").val()
            };

            $.ajax({
                data: parametros,
                url: '/Vacunas/RegistrarAjax',
                type: 'POST',
                success: function (response) {
                    $("#resultado").html(response);
                }
            });
        }

        function RegistrarAlergia() {

            var parametros = {
                ID_ALERGIA: $('#alergia option:selected').val(),
                CEDULA: $('#cedula option:selected').val(),
                DESCRIPCION: $("#desc").val(),
                FECHA: $("#fecha").val(),
                MEDICAMENTOS: $("#medi").val()
            };

            $.ajax({
                data: parametros,
                url: '/Alergias/Registrar',
                type: 'POST',
                success: function (response) {
                    $("#resultado").html(response);
                }
            });
        }

        function ObtenerVacuna() {

            var parametros = { ID_VACUNA: $('#vacuna option:selected').val() };

            $.ajax({
                data: parametros,
                url: '/Vacunas/ObtenerDescripcion',
                type: 'POST',
                success: function (response) {
                    $("#desc").val(response);
                }
            });
        }

        function ObtenerAlergia() {

            var parametros = { ID_ALERGIA: $('#alergia option:selected').val() };

            $.ajax({
                data: parametros,
                url: '/Alergias/ObtenerDescripcion',
                type: 'POST',
                success: function (response) {
                    $("#desc").val(response);
                }
            });
        }


        function addRowTable(data) {

            //var tabla = $("#TableVacunas").DataTable();
            for (var i = 0; i < data.length; i++) {

                var actualizar = "<input type=button onclick=actualizarFila(this); value=Editar>";
                var elimina = "<input type=button onclick=eliminarFila(this); value=Eliminar>";
                var fila = "<tr><td>" + Object.values(data[i])[2] + "</td><td>" + Object.values(data[i])[4] + "</td><td>" + Object.values(data[i])[3] + "</td><td>" + Object.values(data[i])[5] + "</td><td>" + Object.values(data[i])[6] +
                    "</td><td>" + Object.values(data[i])[7] + "</td><td>" + Object.values(data[i])[8] + "</td><td>" + elimina + "</td><td>" + actualizar + "</td></tr> ";
                $('#TVacunas').append(fila);

            }
        }

        function DatosPaciente() {
            var parametros = { CEDULA: $('#paciente option:selected').val() };
            $('#TVacunas').html("");
            $.ajax({
                data: parametros,
                url: '/Vacunas/RecuperarDatosPaciente',
                type: 'POST',
                success: function (data) {
                    //console.log(Object.values(data[1])[4]);
                    addRowTable(data);

                }
            });
        }


        function addRowTableAlergias(data) {

            //var tabla = $("#TableVacunas").DataTable();
            for (var i = 0; i < data.length; i++) {

                var actualizar = "<input type=button onclick=actualizarFilaAlergia(this); value=Editar>";
                var elimina = "<input type=button onclick=eliminarFilaAlergia(this); value=Eliminar>";
                var fila = "<tr><td>" + Object.values(data[i])[0] + "</td><td>" + Object.values(data[i])[2] + "</td><td>" + Object.values(data[i])[1] + "</td><td>" + Object.values(data[i])[3] + "</td><td>" + Object.values(data[i])[4] +
                    "</td><td>" + Object.values(data[i])[5] + "</td><td>" + Object.values(data[i])[6] + "</td><td>" + elimina + "</td><td>" + actualizar + "</td></tr> ";
                $('#TAlergias').append(fila);

            }
        }

        function DatosPacienteAlergias() {
            var parametros = { CEDULA: $('#paciente option:selected').val() };
            $('#TAlergias').html("");
            $.ajax({
                data: parametros,
                url: '/Alergias/RecuperarDatosPaciente',
                type: 'POST',
                success: function (data) {
                    addRowTableAlergias(data);

                }
            });
        }

        function eliminarFila(fl) {
            var fila = fl.parentNode.parentNode;
            var parametros = { ID: $(fila).find('td:eq(0)').html() };
            fila.parentNode.removeChild(fila);
            $.ajax({
                data: parametros,
                url: '/Vacunas/Delete',
                type: 'POST',
                success: function (response) {
                    $("#borrado").html(response);

                }
            });
        }

        function eliminarFilaAlergia(fl) {
            var fila = fl.parentNode.parentNode;
            var parametros = { ID: $(fila).find('td:eq(0)').html() };
            fila.parentNode.removeChild(fila);
            $.ajax({
                data: parametros,
                url: '/Alergias/Delete',
                type: 'POST',
                success: function (response) {
                    $("#borrado").html(response);

                }
            });
        }

        function Actualizar(ID1) {
            var parametros = {
                ID: ID1,
                ID_VACUNA: $('#vacuna option:selected').val(),
                CEDULA: $('#cedula option:selected').val(),
                DESCRIPCION: $("#desc").val(),
                FECHA_APLI: $("#apli").val(),
                FECHA_PROX: $("#prox").val()
            };

            $.ajax({
                data: parametros,
                url: '/Vacunas/Actualizar',
                type: 'POST',
                success: function (response) {
                    $("#resultado").html(response);
                    $('#TVacunas').html("");

                }
            });


        }
        function ActualizarAlergia(ID1) {
            var parametros = {
                ID: ID1,
                ID_ALERGIA: $('#alergia option:selected').val(),
                CEDULA: $('#cedula option:selected').val(),
                DESCRIPCION: $("#desc").val(),
                FECHA: $("#fecha").val(),
                MEDICAMENTOS: $("#medi").val()
            };
            console.log($('#alergia option:selected').val());

            $.ajax({
                data: parametros,
                url: '/Alergias/Actualizar',
                type: 'POST',
                success: function (response) {
                    $("#resultado").html(response);
                    $('#TAlergias').html("");

                }
            });


        }


        function actualizarFilaAlergia(fl) {
            var fila = fl.parentNode.parentNode;
            var estructura = " <input type=button onclick=ActualizarAlergia(" + $(fila).find('td:eq(0)').html() + ") id=act name=act value=Actualizar class='btn btn-lg btn-primary btn-block' />";
            $("#actualizar").html(estructura);
            $('#cedula option:selected').val($(fila).find('td:eq(1)').html());//asignarle valor
            $('#cedula option:selected').html($(fila).find('td:eq(1)').html());//asignarle texto visible
            $('#alergia option:selected').val($(fila).find('td:eq(2)').html());//asignarle valor
            $('#alergia option:selected').html($(fila).find('td:eq(3)').html());//asignarle texto visible
            $("#desc").val($(fila).find('td:eq(4)').html());
            $("#medi").val($(fila).find('td:eq(6)').html());


            //Fecha Aplicacion
            var fecha = $(fila).find('td:eq(5)').html();
            var arr = fecha.split(' ');
            var fecha1 = arr[0].split('/');
            var dia = fecha1[2];
            var mes = fecha1[1];
            var año = fecha1[0];
            //evaluar mes
            if (parseInt(fecha1[1]) > 10) {
                dia = "0" + dia;
            }
            if (parseInt(fecha1[2]) > 10) {//evaluar dia
                mes = "0" + mes;
            }

            $("#fecha").val(dia + "-" + mes + "-" + año);


        }

        function actualizarFila(fl) {
            var fila = fl.parentNode.parentNode;
            var estructura = " <input type=button onclick=Actualizar(" + $(fila).find('td:eq(0)').html() + ") id=act name=act value=Actualizar class='btn btn-lg btn-primary btn-block' />";
            $("#actualizar").html(estructura);
            $('#cedula option:selected').val($(fila).find('td:eq(1)').html());//asignarle valor
            $('#cedula option:selected').html($(fila).find('td:eq(1)').html());//asignarle texto visible
            $('#vacuna option:selected').val($(fila).find('td:eq(2)').html());//asignarle valor
            $('#vacuna option:selected').html($(fila).find('td:eq(3)').html());//asignarle texto visible
            $("#desc").val($(fila).find('td:eq(4)').html());
            //Fecha Aplicacion
            var fecha = $(fila).find('td:eq(5)').html();
            var arr = fecha.split(' ');
            var fecha1 = arr[0].split('/');
            var dia = fecha1[2];
            var mes = fecha1[1];
            var año = fecha1[0];
            //evaluar mes
            if (parseInt(fecha1[1]) > 10) {
                dia = "0" + dia;
            }
            if (parseInt(fecha1[2]) > 10) {//evaluar dia
                mes = "0" + mes;
            }

            $("#apli").val(dia + "-" + mes + "-" + año);

            //Fecha siguiente Vacuna
            fecha = $(fila).find('td:eq(6)').html();
            arr = fecha.split(' ');
            fecha1 = arr[0].split('/');
            dia = fecha1[2];
            mes = fecha1[1];
            año = fecha1[0];
            //evaluar mes
            if (parseInt(fecha1[1]) > 10) {
                dia = "0" + dia;
            }
            if (parseInt(fecha1[2]) > 10) {//evaluar dia
                mes = "0" + mes;
            }

            $("#prox").val(dia + "-" + mes + "-" + año);

        }
    </script>
    <style>
        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 100; /* Behind the navbar */
            padding: 48px 0 0; /* Height of navbar */
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }

        @@media (max-width: 767.98px) {
            .sidebar {
                top: 2rem;
            }

            .navbar-nav {
                width: 100%;
            }
        }

        .sidebar-sticky {
            position: relative;
            top: 0;
            height: calc(100vh - 48px);
            padding-top: .5rem;
            overflow-x: hidden;
            overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        }

        .navbar-brand {
            padding-top: .75rem;
            padding-bottom: .75rem;
            font-size: 1rem;
        }

        .navbar .navbar-toggler {
            top: .25rem;
            right: 1rem;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Proyecto3IF4101Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Citas" asp-action="Cita">Gestión de Citas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Vacunas" asp-action="Vacuna">Gestión de Vacunas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Alergias" asp-action="Alergia">Gestión de Alergias</a>
                        </li>

                    </ul>
                    <div class="dropdown navbar-nav px-3">
                        <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-toggle="dropdown" aria-expanded="false">
                            <strong>USUARIO: @vUser</strong>
                        </a>
                        <ul class="dropdown-menu bg-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li>
                                @using (Html.BeginForm("LogOff", "Login", FormMethod.Post, new { id = "logoutForm", @class = "form-css" }))
                                {
                                    <a class="dropdown-item text-white" href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesión</a>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid" style="padding-top:6%; margin:0;">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    @*<main style="padding-top:8%">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>*@

    <footer class="footer fixed-bottom bg-dark">
        <div class="container-fluid text-white">
            &copy; 2021 - Proyecto3IF4101Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
