@{
    ViewData["Title"] = "Gestion de Vacunas";
}

@model Proyecto3IF4101Web.Models.VacunasModel;



<h1>@ViewData["Title"]</h1>


<div class="row">
    <div class="col-md-3">
        <form name="formVacuna" id="formVacuna">
            <legend class="text-center">Registrar Vacunas de Pacientes</legend>


            <div class="col-12">
                <label for="paciente" class="form-label">Cedula de Paciente</label>
                <select class="form-select form-select mb-3" name="cedula" id="cedula" required>
                    <option value=0>Seleccione una Cédula</option>
                    @foreach (Pacientes temp in ViewBag.Pacientes)
                        {
                            <option value="@temp.CEDULA">
                               @temp.CEDULA + @temp.NOMBRE
                            </option>

                        }
                </select>
            </div>

            <div class="col-12">
                <label for="vacuna" class="form-label">Vacuna</label><br />
                <select class="form-select form-select mb-3" name="vacuna" id="vacuna" required>
                    <option value=0>Seleccione una Vacuna</option>
                    @foreach (Vacunas temp in ViewBag.Vacunas)
                    {
                        <option value="@temp.ID">
                            @temp.NOMBRE
                        </option>

                    }

                    }
                </select>
            </div>

            <div class="col-12  ">
                <label for="start">Descripción:</label>

                <input class="form-control" type="text" id="desc" name="desc">

            </div>

            <div class="col-12 form-group ">
                <label for="start">Fecha de Aplicacion:</label>

                <input type="date" id="start" name="start">

                <label for="start">Fecha de Proxima Dosis:</label>

                <input type="date" id="end" name="end">

            </div>
            <input type="submit" value="Iniciar sesión" class="btn btn-lg btn-primary btn-block" />
            <div>
                <span id="resultado"></span>
            </div>
        </form>
    </div>
</div>
